.About-Shad0w27{
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-Shad0w27-text-title{
    color: whitesmoke;
    margin: 0;
}

.About-Shad0w27-text-Main{
    position: absolute;
    margin: 0;
    top: 10%;
}