.About-Foxden{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.About-Foxden-text-title{
    color: whitesmoke;
    margin: 0;
}

.About-Foxden-text-Main{
    position: absolute;
    margin: 0;
    top: 10%;
}