.clickable-image {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: fixed; /* Keeps the image 200px from the top and left corners of the viewport */
    top: 12px;
    left: 12px;
}
.clickable-image:hover {
    transform: scale(1.2);
}